.form {

    &__btn {
        margin-top: 40px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
    }

    &__inner {
        padding: 100px 0;
    }
}